.menu-mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm-line{
    height:4px ;
    background-color:#0079c7 ;
}
@media (max-width:600px){
    .banner-headline{
        padding: 20px;
    }
    .banner-headline h1{
        font-size: 55px;
    }
    .banner-headline h2{
        font-size: 17px;
    }
    .banner-options {
        height: auto;
        flex-direction: column;

    }

    .container{
        flex-direction: column;
    }
    #geral{
        margin-top: 100px;
    }
    #geral section{
        padding: 20px;
    }
    #geral aside{
        padding: 20px;
    }
    .footer-menu .footer-area{
        flex-direction: column;
        
    }
    .footer-menu, .fm-2, .fm-3{
        margin-right:95px;
    }
    .fm-title, .fm-link{
        padding-left:100px;
    }
    .dentro-title{
        padding-left:120px;
    }
    

    .footer-copy{
        margin-left:120px;
        border-top: none;
        

    }
     
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    header{
        height: auto;
    }
    .logo{
        padding: 20px;
    }
    .menu-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .fm-1, .fm-2, .fm-3{
        padding-right: 40px;
    }

}